/* --------------------------------
   CONTENEDOR PRINCIPAL
-------------------------------- */
.contenedor-central {
    width: 80%;
    margin: -400px auto;
    background: #8f8b8ba4;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 400px;
    position: relative;
}

/* --------------------------------
   CAMPOS GENERALES
-------------------------------- */
.campo {
    display: block;
    margin-bottom: 20px;
}

.campo input:not(.fecha) {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

/* Campo de fecha */
.fecha {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

input[type="date"] {        
    -webkit-min-inline-size: 0;
}

/* --------------------------------
   BLOQUES DE INGREDIENTES
-------------------------------- */
.ingrediente {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.ingrediente input {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

/* Select de ingredientes */

.ingrediente-select {
    width: 230px;
    padding: 9px;
    border-radius: 6px;
}

/* Cantidad */

.cantidad {
    width: 150px;
}

/* Unidad (gr / ml) */

.select-unidad {
    padding: 8px;
    border-radius: 6px;
    border: none;
}

/* Botón para agregar más ingredientes */

.boton-mas {
    font-size: 20px;
    cursor: pointer;
    padding: 4px 10px;
    background: #ffffffaa;
    border-radius: 6px;
    border: 1px solid #aaa;
}

/* --------------------------------
   BOTÓN GUARDAR
-------------------------------- */

.guardar {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #4CAF50;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

